
.pie-pagina{
    background-color: $color-fondo;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}
.formulario_globo__form{
    display: flex;
    flex-direction: row;
    background: linear-gradient(to right, #f2f4f1 75%, #dce1da 25%);
    align-items: center;
    justify-content: center;
    padding-top:15%;
    padding-bottom: 15%;
    .formulario_globo__content__h4{
        width: 55%;
    }
    .formulario_globo__content{
        display: flex;
        flex-direction: column;
        align-content: space-between;
        justify-content: space-around;
        height: 74vh;
    }
    .formulario_globo__content__form{
        height: 54vh;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: space-around;
    }
    .formulario_globo__content__form__name,.formulario_globo__content__form__phone, .formulario_globo__content__form__email, .formulario_globo__content__form__message {
        display: flex;
        flex-direction: column;
    }
    input, textarea {
        background-color: transparent;
        border: 0px;
        border-bottom: 1px solid grey;
    }
    button{
        background-color: $color-naranja;
        border-color: $color-naranja;
        border-radius: 60px;
        width: 29%;
        margin-top: 6%;
    }

}
