nav a {
    color:$color-texto;
    text-decoration: none;
}
h1{
    color:$color-texto
}
.container {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    justify-content: space-between;
    padding-left: 10%;
    padding-top: 1%;
}
nav{
    display: flex;
    flex-direction: column;
    width: 695px;
    padding-right: 5%;
    padding-left: 3%;
}
ul{
    display: flex;
    flex-direction: row;
    width: 695px;
    justify-content: space-evenly;
}