.section4{
        height: 768px;
        margin-left: -7px;
        margin-right: -7px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .section4_corredor{
                display: flex;
                flex-direction: row;
                align-self: flex-end;
        }
        .section4_acordion{
                position: absolute;
                border: 1px solid #E3E3E3;
                width: 50%;
                margin-left: 10%;
                background-color: #f8f8f8;
        }
        
}