.section3{
    width: 87.3rem;
    height: 50rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #f2f4f1 75%, #dce1da 25%);
    .section3__casa{
        background: url("/images/casa-lago.png");
        height: 34.5rem;
        width: 60.3rem;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        .section3__recuardoNaranja{
            background-color: $color-naranja;
            width: 29.5rem;
            height: 19rem;
            .section3_carousel{
                display: flex;
                .section3_carousel_texto{
                    display: flex;
                    width: 101%;
                    padding: 13.5%
                }
            .section3_botones{
                display: flex;
                .section3_botones1{
                    display: flex;
                    width: 8%;
                    height: 90%;
                    align-items: flex-end;
                    margin-left: 72%;
                }
                .section3_botones2{
                    display: flex;
                    width: 10%;
                    height: 90%;
                    align-items: flex-end;
                    margin-right: 9%;
                }
            }
            }
        }
    }
}

        

