.section2{
    width: 85.3rem;
    height: 42rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .section2__container{
        width: 100%;
        height: 58%;
        border-left: 30px solid $color-naranja;
        margin:-12.5px;
        .section2__container__texto{
            display: flex;
            flex-direction: column;
            padding-left: 20%;
            .section2__titulo{
                width: 26rem;
                padding-bottom: 5%;
                padding-top: 2%;
            }
            .section2__texto{
                width: 70%;
                margin: 0;
                @media (max-width: 1024px){
                    width: 94%;
                }
                @media (max-width: 768px){
                width: 100%;
            }
            }
        }
        
    }
}