$color-texto: #fff;
$color-naranja: #E0752F;
$color-texto-acordeon:#5f6368;
$color-fondo: #343434;
$tipografia-poppin: 'Poppins', sans-serif;
$tipografia-roboto: 'Roboto', sans-serif;
$btn-font-family: 'Roboto', sans-serif;
$btn-font-weight: medium;
$border-radius: 25%;
$border-width:7px;
$navbar-light-color:$color-texto;
$navbar-light-hover-color:$color-texto;
$navbar-light-active-color: $color-texto;
$accordion-button-active-bg: #F8F8F8;
$accordion-button-bg:#F8F8F8;
$accordion-icon-color: $color-naranja;
$accordion-icon-active-color: $color-naranja;
$accordion-button-active-color: $color-texto-acordeon;
$accordion-border-width: 1px;
$carousel-indicator-width: 10px;
$carousel-indicator-height: 10px;
$carousel-indicator-active-bg: $color-naranja;
$carousel-control-prev-icon-bg: url("/images/button/left.svg");
$carousel-control-next-icon-bg: url("/images/button/right.svg");
$carousel-control-opacity: 1;